<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site- other templates extend this one #}
    
    {# Metadata and SEO #}
    <meta charset="UTF-8">
    <link rel="icon" href="https://glitch.com/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="TODO LOL">

    {# Stylesheets #}
    <link rel="stylesheet" href="/public/styles.css">

  </head>
  <body>

    {# Header #}
    <header>
      <p>SON-X</p>
      <p>This line of text will be a navbar someday.</p>
    </header>

    {# Page content #}
    <main>
      
      {{ content | safe }}

    </main>

    {# Footer #}
    <footer class="footer">
      <p><small>This is a footer</small></p>
      <!--
      <div class="links">
        <a href="/">Home</a>
        <span class="divider">|</span>
        <a href="/posts">Posts</a>
        <span class="divider">|</span>
        <a href="/about">About</a>
      </div>
      <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-eleventy">
      <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140" alt="" /> 
      Remix on Glitch
      </a>
      -->
    </footer>
   
  </body>
</html>